body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    background: rgb(59, 59, 59);
}
h1{
    text-align:center;
    font-weight: 900;
}
.container{
    height: 100vh;
    font-size: 16px;
}
.box{
    width: 350px;
    height: 360px;
    font-size: 16px;
    margin: 10vh auto;
    padding: 40px 40px;
    background: #4c0442;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}
.user{
    margin-top: 50px;
}

input{
    width: 90%;
    margin-bottom: 25px;
    padding: 0 30px 15px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #4c0442;
    outline: none;
    background-color: #4c0442;
    color: #fff;
}
input:focus{
    border-bottom: 1px solid #EEEEEE;
}
.login-btn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    display: block;
    width: 80%;
    padding: 15px;
    background-color: #EEEEEE;
    color: #4c0442;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover{
    opacity: 1;
}
